.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    /* grid-template-columns: repeat(5, 20% auto);
    grid-template-rows: repeat(4, 20% auto); */
    gap: 30px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.img-gallery img:hover{
    transform: scale(1.2);
}



.estrellas {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  .estrellas p {
    text-align: center;
  }
  
  .estrellas label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    width: 30px;
    height: auto;
    
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label {
    color: orange;
  }

  .detail-id{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0,9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }

  .pDetail{
    width: 90%;
    max-width: 600px;
  }

  .spanDetail{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer; 
  }

