

.img-gallery{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 20px;
    
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.img-gallery img:hover{
    transform: scale(1.2);
}



.estrellas {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    font-family: 'Source Code Pro', monoespaciado;
    box-sizing: border-box;
    place-items: center;
    
  }
  
  .estrellas p {
    text-align: center;
    
  }
  
  .estrellas label {
    font-size: 40px;
    font-family: 'Source Code Pro', monoespaciado;
    box-sizing: border-box;
    padding: auto;
    margin-left: 8px;
    
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    width: 30px;
    height: auto;
    
    
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  .clasificacion h4{
    font-family: sans-serif;
    color: #0d253f;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label {
    color: orange;
  }

  .mostPop{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
  }

  

  

